## RandomForest

In [98]:
import numpy as np
import pandas as pd

In [99]:
df_train = pd.read_csv('train_mm_umur.csv')
df_test = pd.read_csv('test_mm_umur.csv')

In [101]:
x_train = df_train.drop(['id','Gaji'], axis=1)
y_train = df_train['Gaji']

In [102]:
df_train

,id,Jenis Kelamin,Gaji,Berpisah,Cerai,Janda,Menikah,Menikah LDR,Ekesekutif Managerial,Mesin Inspeksi,...,Pemerintah Provinsi,Tanpa di Bayar,Tidak Pernah Bekerja,Wiraswasta,Jam per Minggu,Jmlh Tahun Pendidikan,Umur,Berat Akhir,Keuntungan Kapital,Kerugian Capital
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0.346939,0.533333,0.054795,0.156028,0.000000,0.0
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,1,0.397959,0.333333,0.438356,0.086933,0.000000,0.0
2,2,1,1,0,0,0,1,0,1,0,...,0,0,0,1,0.448980,0.733333,0.369863,0.072912,0.043860,0.0
3,3,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0.346939,0.800000,0.095890,0.123363,0.000000,0.0
4,4,1,1,0,0,0,1,0,0,0,...,0,0,0,1,0.397959,0.866667,0.219178,0.140269,0.150242,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35989,35989,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0.397959,0.533333,0.410959,0.091931,0.000000,0.0
35990,35990,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0.397959,0.733333,0.712329,0.170783,0.000000,0.0
35991,35991,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0.193878,0.800000,0.095890,0.013071,0.000000,0.0
35992,35992,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0.448980,0.533333,0.410959,0.125532,0.000000,0.0
35993,35993,1,1,0,0,0,1,0,1,0,...,0,0,0,1,0.602041,0.800000,0.383562,0.156590,0.000000,0.0

## MODEL

In [103]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [46]:
param_grid = {'criterion':['gini','entropy'],'n_estimators':[100,],'max_depth':np.arange(1,50,1), 'min_samples_split':np.arange(2,10), 'min_samples_leaf':np.arange(1,10,1),}
model = RandomForestClassifier()

In [ ]:
gs= GridSearchCV(model, param_grid, cv=2, scoring='roc_auc', return_train_score=True, verbose=5, n_jobs=-1)
gs.fit(x_train, y_train)

In [ ]:
gs.best_params_

In [105]:
model = RandomForestClassifier(n_estimators=10,criterion='gini', max_depth=30, min_samples_leaf=3, min_samples_split=2, max_leaf_nodes=None)

In [106]:
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=30, min_samples_leaf=3, n_estimators=10)

## PREDICT

In [107]:
x_test = df_test.drop('id', axis=1)

In [108]:
temp = model.predict(x_test)

In [109]:
df_pred = pd.DataFrame({'Gaji':temp,})

In [110]:
df_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9599 entries, 0 to 9598
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gaji    9599 non-null   int64
dtypes: int64(1)
memory usage: 75.1 KB

In [111]:
df_pred['Gaji'].value_counts()

0    7804
1    1795
Name: Gaji, dtype: int64

## EVAL

In [112]:
from sklearn.model_selection import cross_validate

In [ ]:
cv = cross_validate(model, x_test, y=df_pred, scoring='roc_auc', cv=10)

In [114]:
cv['test_score'].mean()

0.9870733841692413

## SAVING

In [115]:
df_pred = pd.DataFrame({'id':df_test['id'], 'Gaji':temp})

In [116]:
df_pred

         id  Gaji
0     35994     0
1     35995     0
2     35996     1
3     35997     0
4     35998     0
...     ...   ...
9594  45588     0
9595  45589     0
9596  45590     0
9597  45591     0
9598  45592     0

[9599 rows x 2 columns]

In [117]:
df_pred.to_csv('Gaji_rf_30_nopekerjaan_naufalhisyam46.csv', index=False)

In [ ]:
sample

      id  Gaji
0  35994     0
1  35995     0
2  35996     0