## KNN

In [1]:
import numpy as np
import pandas as pd

df_train = pd.read_csv('train_mm_umur.csv')
df_test = pd.read_csv('test_mm_umur.csv')

In [2]:
df_train['Gaji'].value_counts()

0    27364
1     8630
Name: Gaji, dtype: int64

In [3]:
df_train

,id,Jenis Kelamin,Gaji,Berpisah,Cerai,Janda,Menikah,Menikah LDR,Ekesekutif Managerial,Mesin Inspeksi,...,Pemerintah Provinsi,Tanpa di Bayar,Tidak Pernah Bekerja,Wiraswasta,Jam per Minggu,Jmlh Tahun Pendidikan,Umur,Berat Akhir,Keuntungan Kapital,Kerugian Capital
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0.346939,0.533333,0.054795,0.156028,0.000000,0.0
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,1,0.397959,0.333333,0.438356,0.086933,0.000000,0.0
2,2,1,1,0,0,0,1,0,1,0,...,0,0,0,1,0.448980,0.733333,0.369863,0.072912,0.043860,0.0
3,3,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0.346939,0.800000,0.095890,0.123363,0.000000,0.0
4,4,1,1,0,0,0,1,0,0,0,...,0,0,0,1,0.397959,0.866667,0.219178,0.140269,0.150242,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35989,35989,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0.397959,0.533333,0.410959,0.091931,0.000000,0.0
35990,35990,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0.397959,0.733333,0.712329,0.170783,0.000000,0.0
35991,35991,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0.193878,0.800000,0.095890,0.013071,0.000000,0.0
35992,35992,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0.448980,0.533333,0.410959,0.125532,0.000000,0.0
35993,35993,1,1,0,0,0,1,0,1,0,...,0,0,0,1,0.602041,0.800000,0.383562,0.156590,0.000000,0.0

In [4]:
x_train = df_train.drop(['id','Gaji'], axis=1)
y_train = df_train['Gaji']

## MODEL

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import RandomizedSearchCV

In [6]:
param_grid = {'n_neighbors':np.arange(1,30,1), 'weights':['uniform','distance'],'algorithm':['auto', 'ball_tree', 'kd_tree', 'brute']}
model_knn = KNeighborsClassifier()

In [ ]:
gs = RandomizedSearchCV(model_knn, param_grid, cv=5, scoring='roc_auc', return_train_score=True, n_jobs=-1, n_iter=5)
gs.fit(x_train,y_train)

In [125]:
gs.best_params_

{'n_neighbors': 24, 'weights': 'distance'}

In [67]:
model_knn = KNeighborsClassifier(n_neighbors=5, weights='distance')

In [68]:
model_knn.fit(x_train, y_train)

KNeighborsClassifier(weights='distance')

## PREDICT

In [69]:
x_test = df_test

In [70]:
temp = model_knn.predict(x_test)

In [71]:
df_pred = pd.DataFrame({'Gaji':temp,})

In [72]:
df_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9599 entries, 0 to 9598
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gaji    9599 non-null   int64
dtypes: int64(1)
memory usage: 75.1 KB

In [73]:
df_pred['Gaji'].value_counts()

0    8432
1    1167
Name: Gaji, dtype: int64

## EVAL

In [74]:
from sklearn.model_selection import cross_validate

In [ ]:
cv = cross_validate(model_knn, x_test, y=df_pred, scoring='roc_auc', cv=10)

In [76]:
cv['test_score'].mean()

0.9885269983794688

## SAVING

In [77]:
df_pred = pd.DataFrame({'id':df_test['id'], 'Gaji':temp})

In [78]:
df_pred

         id  Gaji
0     35994     0
1     35995     0
2     35996     0
3     35997     0
4     35998     0
...     ...   ...
9594  45588     0
9595  45589     0
9596  45590     0
9597  45591     0
9598  45592     0

[9599 rows x 2 columns]

In [79]:
df_pred.to_csv('Gaji_KNN_4_naufalhisyam46.csv', index=False)

In [68]:
sample

      id  Gaji
0  35994     0
1  35995     0
2  35996     0